@{
    ViewBag.Title = "Contact";
}
<h2>Dmitry Silkovich</h2>

<address>
    Belarus, Minsk<br />
    <abbr title="Phone">P:</abbr>
    +375 29 562 1001
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dmitrysilkovich@gmail.com">dmitrysilkovich@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:dmitrysilkovich@gmail.com">dmitrysilkovich@gmail.com</a>
</address>