@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Search for Bus Stops</h2>
        <p>
            Searching Bus Stops by name
        </p>
        <p><a class="btn btn-default" href="/busstop">Search Bus Stops &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Searching Specified Voyages</h2>
        <p>Searching Specified Voyages by date, arrival and departure Bus Stops. There is a possibility to reserve available tickets on selected voyage </p>
        <p><a class="btn btn-default" href="/voyage/searchvoyages">Search for Specified Voyages &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My tickets</h2>
        <p>You can browse your tickets.</p>
        <p><a class="btn btn-default" href="/tickets/mytickets">Browse my tickets &raquo;</a></p>
    </div>
</div>